body{
    background-color:#CC0000;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



a{
    text-decoration: none;
}

#pokemon-container {
    margin-top: 20px;
    background-color: yellowgreen;
    color: rgb(63, 56, 56);
    border-color: rgb(0, 0, 0);
    box-shadow: 5px 10px 18px #1a0303;
    border: 1px solid #ccc; 
    padding: 20px; 
    border-radius: 10px; 
    max-width: 400px; 
    margin: 0 auto;
}

#pokemon-image { 
    width: 250px; 
    height: 250px; 
}

#pokemon-container:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

#title{
    font-size: 2em;
    margin-bottom: 10px;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    
    border-radius: 50px;
    margin-left: 350px;
    margin-right: 350px;
    
    
    
}

#title:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}

#pokemon-input{
    padding: 5px;
    padding-left: 50px;
    padding-right:50px;
    font-size: 1em;
    border-radius: 15px;
    border: 1px solid #ccc;
    width: 200px;
    box-shadow: 2px 2px 5px #000000;
    margin-bottom:40px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: yellowgreen;
}

#search-button{
    padding: 10px 15px;
    font-size: 1em;
    border-radius: 15px;
    border: none;
    background-color: rgb(11, 77, 97);
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 5px #000000;
}

#search-button:hover{
    background-color: rgb(3, 36, 47);
    transform: scale(1.05);
    transition: transform 0.3s;
}

#search-button:active{
    box-shadow: inset 2px 2px 5px #000000;
}

@media (max-width: 700px) {
    body {
        padding: 10px;
        background-image: url(../img/pokedexfondo.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: rgb(165, 30, 30);
        color: white;
        font-family: Arial, sans-serif;
        text-align: center;
        padding: 20px;
        margin: 0;
    }
    #title{
        font-size: 1.5em;
        margin: 10px auto; /* Centrado y con menos margen */
        max-width: 90%;/* Ancho ajustado para móviles */
        margin-left: 70px;
        margin-right: 70px;
        background-color: rgba(0, 0, 0, 0);
        box-shadow: none; /* Eliminar sombra para móviles */
        color:#CC0000;
        text-shadow:none;
        border-color: #000000;
        
    }
    

    #pokemon-container {
        width: 95%; /* Aumentar el ancho para mejor uso del espacio */
        padding: 1.5px;
        max-width: 400px;
        background-color: yellowgreen;
        color: rgba(49, 44, 44, 0.863);
        border-color: #00000000;
        box-shadow: none;
        border-color: #1f1b1bbe;
        border-width: 5px;
    }

    #pokemon-image {
        width: 45%;
        height: auto;
        /* Ajustar el tamaño de la imagen */
    }
    
    #pokemon-input {
        width: 70%; /* Campo de entrada más ancho para mejor interacción táctil */
        padding: 10px;
        margin-bottom: 20px;
        margin-left: 150px;
        margin-right: 10px;
        background-color: yellowgreen;
        border-color: #3a3535cb;
        border-width: 3px;
        box-shadow: none;
    }

    #search-button {
        padding: 10px 10px;
        margin-bottom: 15px;
        margin-left: 0px; 
        margin-right: 150px;/* Botón más grande para tocarlo más fácilmente */
    }

    #container-search {
        display: flex;
        flex-direction: row; /* Elementos en línea */
        align-items: center;
        justify-content: center;
        gap: 10px; /* Espacio entre input y botón */
    }
}
